<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85335662632-cua682546lskamu5onafahd9vjmafssj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85335662632-cua682546lskamu5onafahd9vjmafssj</string>
	<key>API_KEY</key>
	<string>AIzaSyBAGT8BoXJ-Wn-00NgZnintz5vWdzqDfnk</string>
	<key>GCM_SENDER_ID</key>
	<string>85335662632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solutionChallenge</string>
	<key>PROJECT_ID</key>
	<string>gsc-iiit-kota</string>
	<key>STORAGE_BUCKET</key>
	<string>gsc-iiit-kota.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85335662632:ios:9954c26e6fae5c3a17151d</string>
</dict>
</plist>